.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;
    position: fixed; /* or absolute */
    top: 20%;
    left: 35%;
  
    .title {
      margin: 10px 0;
    }
  
    .buttons {
      display: flex;
      justify-content: space-between;
    }
    
  }